
<section class="container">
    <h1>{{vm.title}}</h1>
    <form name="profileForm" ng-submit="vm.save()">
        <span class="alert alert-danger" ng-if="vm.loginError.length">
            {{vm.loginError}}
        </span>
        <div class="form-group">
            <label for="">Login Name</label>
            <input class="form-control" type="text" ng-model="vm.user.loginName" required=""/>
        </div>
        <div class="form-group">
            <label for="">First Name</label>
            <input class="form-control" type="text" ng-model="vm.user.firstName" required=""/>
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input class="form-control" type="text" ng-model="vm.user.lastName" required=""/>
        </div>
        <input type="submit" class="btn btn-primary"
           ng-click="vm.save()"
           ng-disabled="profileForm.$invalid" value="Save" />
    </form>
</section>
